<div class="mainbody">
    <div class="body">
        <button type="button" class="btn btn-primary" [routerLink]="['..']">Go Back</button>
        <h2 class="heading">Management Team</h2>
        <table>
            <tr>
                <td><img src="assets\Images\Profile.png" alt=""></td>
                <td>
                    <h4>Abhishek Maheshwari</h4>
                    <a href="/">Email</a>
                    <p>Abhishek Maheshwari has been working as a developer for Buswale since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\Profile.png" alt="Image"></td>
                <td>
                    <h4>Aditi Singh</h4>
                    <a href="/">Email</a>
                    <p>Aditi Singh has been working as a developer for Buswale since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\Profile.png" alt="Image"></td>
                <td>
                    <h4>Pradyuman Agarwal</h4>
                    <a href="/">Email</a>
                    <p>Pradyuman Agarwal has been working as a developer for Buswale since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\Profile.png" alt="Image"></td>
                <td>
                    <h4>Achyut Tripathi</h4>
                    <a href="/">Email</a>
                    <p>Achyut Tripathi has been working as a developer for Buswale since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\Profile.png" alt="Image"></td>
                <td>
                    <h4>Praveen</h4>
                    <a href="/">Email</a>
                    <p>Praveen has been working as a developer for Buswale since 2022.</p>
                </td>
            </tr>
        </table>
    </div>
</div>