<div class="mainbody">
    <div class="general">
        <button type="button" class="btn btn-primary right" [routerLink]="['..']">Go Back</button>
        <h2 class="heading">
            General Rules for travel across the country-
        </h2>

        <ul>
            <li>All passengers are advised to download the Aarogya Setu app on their mobile phones.</li>
            <li>All passengers are required to use face covers/masks, and are required to follow hand hygiene,
                respiratory hygiene, and environmental hygiene.</li>
            <li>All travellers must follow social distancing measures at bus terminals.</li>
            <li>Travellers with quarantine seal mark will not be allowed to board the bus.</li>
        </ul>
    </div>
</div> 