<nav class="navbar navbar-expand-md py-4 navbar-light shadow-sm">
  <div class="container">
    <span class="navbar-brand">
      <a (click)="onHome()" class="nav-link">
      <img src="assets/Images/awkward.png" alt=" " width="180" height="40" class="d-inline-block align-text-top"></a>
    </span>

  <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent3" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
  <div id="navbarSupportedContent3" class="collapse navbar-collapse">

      <ul class="navbar-nav me-auto">
        <li class="nav-item active"><a (click)="onHome()" class="nav-link">Home</a></li>
        <li class="nav-item"><a (click)="onMyBooking()" class="nav-link">My Bookings</a></li>
      </ul> 
      <ul class="navbar-nav ms-auto"> 
        <li class="nav-item"><a  class="nav-link" (click)="onProfile()"><i class="bi bi-person-circle"></i> My profile</a></li>
        <li class="nav-item"><a  class="nav-link"  data-toggle="modal" data-target="#LogoutBackdrop"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="modal fade" id="LogoutBackdrop"  tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
              <p>Are you sure you want to Logout?<br> Click on OK to go to Login page.</p>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "onLogin()" >OK</button>
      
          </div>
      </div>
  </div>
</div>