<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="main-footer">
  <div class="footer">
    <div class="footer-heading">
      <h2>Buswale</h2>
      <ul>
        <li><a [routerLink]="['',{outlets:{footerRouter:['aboutus']}}]">About Us</a></li>
        <li><a [routerLink]="['',{outlets:{footerRouter:['contactus']}}]">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-heading">
      <h2>Info</h2>
      <ul>
        <li><a [routerLink]="['',{outlets:{footerRouter:['tandc']}}]">T & C</a></li>
        <li><a [routerLink]="['',{outlets:{footerRouter:['privacypolicy']}}]">Privacy Policy</a></li>
        <li><a [routerLink]="['',{outlets:{footerRouter:['feedback']}}]">Feedback</a></li>
      </ul>
    </div>

    

    <div class="footer-heading">
      <h2>Customer Care</h2>
      <ul>
        <li><a [routerLink]="['',{outlets:{footerRouter:['help']}}]">Help</a></li>
      </ul>
    </div>

    <div class="last-footer">
      <img src="./assets/Images/awkward.png">
      <p>
        Buswale is the world's largest online bus ticket booking service trusted by over millions
        happy customers globally. We offer bus ticket booking through its website for all major routes.
      </p>
      <a href="https://www.facebook.com" target="_blank"> 
        <i class="fab fa-facebook-f"></i> 
      </a>
      <a href="https://www.linkedin.com/company" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://twitter.com" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</div>
