<div class="mainbody">
    <div class="body">
        <button type="button" class="btn btn-primary" [routerLink]="['..']">Go Back</button>
        <h2 class="heading">Privacy Policy</h2>
        <ol type="A">
            <li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                     Perspiciatis numquam minima libero accusantium cupiditate delectus qui, <br>
                     sapiente dolores vero aut eum quasi commodi enim, adipisci porro earum? <br>
                     Quaerat, odio doloremque.
                </p>
            </li>
        </ol>
    </div>
</div>